

.containerGame {

    display: flex;
    justify-content: center;
    justify-items: center;
  


}


.buttonStyle {
    
    margin-top: 1em;
    width: 100%;

}

.menuGameStyle {

        border: 2px solid purple;
        padding: 30px;
        border-radius: 30px;
        background-color: black;
        margin-top: 9%;
}

@media only screen and (max-width: 554px) {
    .menuGameStyle {
        margin-top: -2%;
    }

}

@media only screen and (max-width: 400px) {
    .menuGameStyle {
        margin-top: 9%;
    }

}

.containerColorsStyle {

    display: flex;
    gap: 3em;
}

.labelStyle {
    color: rgb(255, 107, 255);
    margin-top: 3em;

}