@page "/"
@rendermode InteractiveServer
<link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/flowbite.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/flowbite.min.js"></script>
    <link rel="stylesheet" type="" href="/css/landingPage.css">
<PageTitle>Home</PageTitle>

<section>


<section class="containerLandingPage">


<section class="containerImg">
    <img class="imgStyle" src="img/landingPage/crona.png" alt="">

</section>

<section style="position: relative;">

  <h1 class="titleStyle">Color Mixing Game</h1>  
        <div class="borderStyle"></div>
</section>



    
</section>

</section>