@page "/"
@rendermode InteractiveServer
    <link rel="stylesheet" type="" href="/css/landingPage.css">
<PageTitle>Home</PageTitle>

<section>


<section class="containerLandingPage">


<section class="containerImg">
    <img class="imgStyle" src="img/landingPage/crona.png" alt="">

</section>

<section style="position: relative;">

  <h1 class="titleStyle">Color Mixing Game</h1>  
        <div class="borderStyle"></div>
</section>



    
</section>

</section>